ph.out.csc_core_apps_initial_bef_cpr/dev/doc/Covid19XmlViewerBatch/Covid19XmlViewerBatch/xsdcblsingleroot35r1/MessageAcknowledgement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="rrn:org.xcbl:schemas/xcbl/v3_5/xcbl35.xsd" targetNamespace="rrn:org.xcbl:schemas/xcbl/v3_5/xcbl35.xsd" elementFormDefault="qualified">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            XML Common Business Library 3.5
            Copyright 2000 Commerce One, Inc.
            Permission is granted to use, copy, modify and distribute the
            DTD's, schemas and modules in the Commerce One XML Common Business
            Library Version 3.5 subject to the terms and conditions specified
            at http://www.xcbl.org/license.html
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="MessageAcknowledgement">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AcknowledgementLocation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AcknowledgementReferenceNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AcknowledgementNote" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MessageAcknowledgement" type="MessageAcknowledgement"/>
    <!-- SOX format datatypes where they difer from standard XSDL datatypes-->
    <xsd:simpleType name="xcblDate">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="xcblTime">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="((([0-1][0-9])|(2[0-3]))(:([0-5][0-9])){2}((\+|-)(([0-1][0-9])|(2[0-3])):([0-5][0-9]))?)"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="xcblDatetime">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))T((([0-1][0-9])|(2[0-3]))(:([0-5][0-9])){2}((\+|-)(([0-1][0-9])|(2[0-3])):([0-5][0-9]))?)"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="xcblBoolean">
        <xsd:restriction base="xsd:boolean">
            <xsd:pattern value="true|false"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="xcblFloat">
        <xsd:restriction base="xsd:float">
            <xsd:pattern value="(\+|-)?[0-9]*\.?[0-9]*(E|e)?[0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="xcblDouble">
        <xsd:restriction base="xsd:double">
            <xsd:pattern value="(\+|-)?[0-9]*\.?[0-9]*(E|e)?[0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
