ph.out.csc_core_apps_initial_bef_cpr/dev/doc/Covid19XmlViewerBatch/Covid19XmlViewerBatch/ArtikelMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (x64) (http://www.altova.com) by Steffen Heinlein (PHOENIX Pharmahandel GmbH & Co. KG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="ArtikelMapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="XMLArtikel" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ArtikelNr" type="xs:int" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="ArticleID" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
