ph.out.csc_core_apps_initial_bef_cpr/dev/doc/utilities/websites/csc_core_applications_version_overview/prod/CSCCommands.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CSCCommands">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Command" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="Identifier" type="xs:string" use="required"/>
						<xs:attribute name="CommandPath" type="xs:string" use="required"/>
						<xs:attribute name="Command" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
